[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
"psycopg2" = "*"
gunicorn = "*"
puregym = {git = "https://github.com/thomasleese/pypuregym"}


[dev-packages]