<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages': ['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Time', 'Busyness', {role: 'style'}, {role: 'annotation'}],
      {% for row in chart.rows %}
        ['{{ row[0][0] }} {{ row[0][1] }}h', {{ row[1] }}, '{{ get_colour(row[1]) }}', '{{ 'Now' if row[2] else '' }}'],
      {% endfor %}
    ]);
    var options = {
      height: 600,
      legend: {
        position: 'none'
      },
      vAxis: {
        viewWindowMode: 'explicit',
        viewWindow: {
          max: 150,
          min: 0,
        }
      },
      hAxis: {
        showTextEvery: 12 * 4,
        slantedText: true
      },
    };
    var chart = new google.visualization.AreaChart(document.getElementById('chart'));
    chart.draw(data, options);
  }
</script>

<div id="chart"></div>
